{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
    <!-- Navigation -->
    <header class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                    <h1>
                        <a href="#">{{ site.name }}</a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    {% for item in menu.get_items %}
                        <li class="{% if item.get_children %}has-dropdown {% endif %}{{ item.classes | join(' ') }}">
                            <a href="{{ item.get_link }}">{{ item.title }}</a>
                            {% if item.get_children %}
                                <ul class="dropdown">
                                    {% for child in item.get_children %}
                                        <li  class="{% if child.get_children %}has-dropdown {% endif %}{{ child.classes | join(' ') }}">
                                            <a href="{{ child.get_link }}">{{ child.title }}</a>
                                            {% if child.get_children %}
                                                <ul class="dropdown">
                                                    {% for childchild in child.get_children %}
                                                        <li  class="{{ childchild.classes | join(' ') }}">
                                                            <a href="{{ childchild.get_link }}">{{ childchild.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </nav>
    </header>
    <!-- End Navigation -->

    <!-- Start Content -->
    <div class="row">
        <section id="content" role="main" class="large-12 columns">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>
    </div>

        {% block footer %}
            <div class="row">
            <footer id="footer" class="large-12 columns">
                {% include 'footer.twig' %}
            </footer>
            </div>
        {% endblock %}
    {{ function('wp_footer') }}
    </body>
</html>
